@if(quizeService.showResults()){

    <div class="results">
        <div class="congratulations">Congratulations!</div>
        <div class="results-info">
        <div>You have completed the quiz.</div>
        <div>You've got 999 of {{quizeService.questions().length}} right.</div>
        </div>
        <div class="next-button" (click)="quizeService.restart()">Restart</div>
    </div>
}

@if(!quizeService.showResults()){
    <div class="quiz">
        <div>
            <div class="score">
                Question {{quizeService.currentQuestionIndex()+1}}/{{quizeService.questions().length}} s
            </div>
            <app-question/>
                <div class="next-button" (click) = "quizeService.nextquestion()">NEXT QUESTION</div>   
        </div>
    </div>
}





